.loginPage {
  background-color: #DAEEF5;
  color: #0E2229;
  height: 100vh;
}

.loginPage .container {
  max-width: 1200px;
  margin: auto;
}

.loginPage .container .header {
  height: 10vh;
}

.loginPage .container .header a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  width: auto;
}

.loginArea {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.loginText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.loginText h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.loginText p {
  font-size: 24px;
}

.loginForm {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.loginForm .email, .loginForm .firstName, .loginForm .lastName   {
  margin-bottom: 1rem
}

.loginForm h1 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.loginForm form {
  width: 100%;
}

.loginForm input {
  display: block;
  height: 3rem;
  width: 100%;
  gap: 20px;
  border-radius: 7px;
  outline: 0;
  border: #737879 1px solid;
  font-size: 16px;
  background-color: #DAEEF5;
  margin-top: 4px;
}

.loginForm input:active {
  border: #0E2229 2px solid;
}

.loginForm form span, .loginForm form span a {
  font-size: 12px;
  color: #2D7187;
}

.loginForm form span a {
  text-decoration: underline;
  color: #0E2229;
}

.loginForm input[type='submit'] {
  background-color: #0E2229;
  color: #FFD280;
  margin-top: 3rem;
}

.loginForm input[type='submit']:hover {
  cursor: pointer;
  transform: scale(0.98);
}