* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20.16px;
}

.herosection {
  background: url("./assets/Landing page.png") no-repeat center center/cover;
}

.main-footer {
  background: linear-gradient(to right, #9C8EA9, 50%, #8B88AD);
}