.herosection {
  height: 89.9vh;
  width: 100vw;
  background: url("../../assets/Landing page.png") no-repeat center center;
  background-size: 100%;
  text-align: left;
}

.hero-text  span {
  color: #fff;
  font-weight: 700;
  line-height: 60.48px;
}

.responsive {
  width: 70%;
  height: 100%;
}

.hero {
  max-width: 1100px;
  height: 96%;
  display: flex;
  margin: auto;
}

.hero-text {
  padding-left: 3rem;
  width: 50% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 3rem;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 3rem;
}

.hero-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.hero-text button {
  padding: 1.2rem 4rem;
  color: #FFD280;
  background-color: #0E2229;
  justify-self: flex-start;
  border-radius: 5px;
  display: inline-block;
  outline: 0;
  border: 0;
}

.hero-text button:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.footer {
  text-align: center;
}